@import '../../styles/index.scss';

.menu-bar {
  top: 104px;
  left: 0px;
  width: 56px;
  height: 100%;
  background: #fcfcfc 0% 0% no-repeat padding-box;
  border: 1px solid #ebedf2;
  opacity: 1;
}
